#container{
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  hieght:470px;
  
}
.vr {
  width:3px;
  background-color:#000;
  position:absolute;
  top:0;
  bottom:0;
  left:400px;
}
.floatleft {
  float:left;
}
.floatright {
  float:right;
}

#Operational-tip{
	height: 100%;
	column-width: 100%;
	position: fixed;
	margin-top: 200px;
	background-color: red;
	z-index: 1;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    z-index: 10;
    width: 1300px;
    height: 450px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.homeIcon{
    font-size: 30px;
}
